USE [master]
GO
/****** Object:  Database [QuanLyMonAn]    Script Date: 6/29/2020 12:43:18 AM ******/
CREATE DATABASE [QuanLyMonAn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyMonAn', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyMonAn.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyMonAn_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyMonAn_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyMonAn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyMonAn]
GO
/****** Object:  Table [dbo].[CONGTHUC]    Script Date: 6/29/2020 12:43:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTHUC](
	[MAMONAN] [int] NOT NULL,
	[CACBUOCNAUAN] [int] NOT NULL,
	[MOTA] [nvarchar](max) NULL,
	[HINHANH] [nvarchar](max) NULL,
 CONSTRAINT [PK_CONGTHUC] PRIMARY KEY CLUSTERED 
(
	[MAMONAN] ASC,
	[CACBUOCNAUAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 6/29/2020 12:43:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONAN](
	[MAMONAN] [int] IDENTITY(1,1) NOT NULL,
	[TENMONAN] [nvarchar](50) NULL,
	[NGUYENLIEU] [nvarchar](max) NULL,
	[LINKYOUTUBE] [varchar](255) NULL,
	[LUOTXEM] [int] NULL,
	[HINHANH] [varchar](max) NULL,
 CONSTRAINT [PK_MONAN] PRIMARY KEY CLUSTERED 
(
	[MAMONAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CONGTHUC]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_MONAN] FOREIGN KEY([MAMONAN])
REFERENCES [dbo].[MONAN] ([MAMONAN])
GO
ALTER TABLE [dbo].[CONGTHUC] CHECK CONSTRAINT [FK_CONGTHUC_MONAN]
GO
USE [master]
GO
